.notificationIcon {
  display: flex;
  flex-direction: column;
  position: relative;
}

.notificationContainer {
  position: absolute;
  top: 35px;
  right: 10px;
  background-color: white;
  border: 1px solid rgb(223, 226, 231);
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  max-height: 540px;
  width: 320px;
  transition: opacity 365ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(170, 180, 190, 0.3) 0px 4px 20px;
}

.notificationItem {
  display: flex;
  align-items: center;
}
