.SPCSidebar {
  background-color: #9a0e20; /* Dark Green Shade */
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  flex-shrink: 0;
  height: 100vh;
}

.sidebarLogo {
  width: 100px;
}
