.header {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: right;

}

.username {
  color: #9a0e20;
  font-size: 18px;
}

.logoutBtn {
  border: 1px solid #9a0e20;
  outline: none;
  background: none;
  border-radius: 5px;
  color: #9a0e20;
  font-size: 18px;
}
