.header {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.username {
  color: #9a0e20;
  font-size: 18px;
}

.logoutBtn {
  border: 1px solid #9a0e20;
  outline: none;
  background: none;
  border-radius: 5px;
  color: #9a0e20;
  font-size: 18px;
}

.popupContent {
  display: flex;
  flex-direction: column;
  position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Ensures exact centering */
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050; /* Ensure it is above other content */
  width: 20vw;
  text-align: center;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.updateBtn {
  outline: none;
  background: none;
  border: none;
}

.popupBackBtn {
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  color: white;
  background-color: #9a0e20;
  padding: 8px;
}

.popupLogoutBtn {
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  color: white;
  background-color: #9a0e20;
  padding: 8px;
}

.popupContent h1 {
  font-size: 18px;
  margin: 0;
  margin-top: auto;
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 80%;
  max-width: 600px;
  background: white; /* Ensures the modal background is white */
  border: 2px solid black; /* Adds a black border around the modal */
  padding: 20px; /* Adds some padding inside the modal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
  align-items: center;
}

.saveBtn {
  display: block; /* Makes the button a block element */
  width: 50%; /* Full width of the modal */
  padding: 10px 0; /* Padding top and bottom */
  margin-top: 20px; /* Space between the input and the button */
  background-color: #9a0e20; /* Example: Blue background */
  color: white; /* White text */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  justify-self: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}
