.companyLoginContainer {
  background-image: url("../assets/images/iztech_background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyLoginBox {
  background-color: rgba(240, 240, 240, 0.8);
  padding: 2%;
  width: 20%;
  border-radius: 5px;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
    /* Updated to align items to the left */
  align-items: center;
}
  


.inputField {
  width: 100%;  /* Full width */
  margin-top: 3%;
}

.cmpLabelContainer {
  width: 100%;
}

.button {
  width: 50%;
  padding: 10px;
  background-color: #9a0e20;
  color: white;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8%;
  margin-bottom: 8%;
  justify-self: center;
}

.buttonHover:hover {
  background-color: darkred;
}

.logoImage {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 45%;
}

.para {
  text-align: center;
  color: darkred;
  text-decoration: underline;
  cursor: pointer;
}
