.companyLoginContainer {
  background-image: url("../assets/images/iztech_background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companyLoginBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 0 2% 2% 2%;
  width: 20%;
  border-radius: 5px;
  gap: 4px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  /* Updated to align items to the left */
  align-items: center;
}

.inputField {
  width: 100%; /* Full width */
  margin-top: 3%;
}

.cmpLabelContainer {
  width: 100%;
}

.button {
  width: 50%;
  padding: 10px;
  background-color: #9a0e20;
  color: white;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 25px;
  margin-bottom: 12px;
  justify-self: center;
}

.button:hover {
  background-color: #d12d2d;
}

.logoImage {
  display: block;
  margin: auto;
  object-fit: contain;
  max-width: 100%;
  height: 45%;
}

.para {
  text-align: center;
  color: darkred;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px 0;
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Ensures exact centering */
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050; /* Ensure it is above other content */
  width: 20vw;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  background: none;
  color: #aaa;
  font-size: 32px;
  cursor: pointer;
}

.closeBtn:hover {
  color: black;
}
