i {
    margin: 0 15px;
}

h2 {
    margin: 10px 0 20px;
}

.company-homepage {
    display: flex;
    height: 100vh;
}
.company-homepage .homepage {
    display: flex;
    /* gap: 10px; */
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}
.header {
    background-color: #e8f5e9;
    color: green;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.homepage-container {
    gap: 10px;
    padding: 0 !important;
    margin: 0 !important;
}

.card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 30px;
}

.card-body {
    padding: 20px 40px;
}
