.companyMyAnnouncements{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.sidebarLogo {
  width: 100px;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  text-align: center;
  margin: 20px 0;
  color: #9a0e20;
  margin-bottom: 4%;
}

.announcementsPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.announcementsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.card {
  flex: 1 1 150px;  /* Adjust card size as needed */
  height: 300px;  /* Set a fixed height */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cardTitle {
  margin-bottom: 10px;
}

.feedbackBtn:hover {
  background-color: rgb(238, 109, 3);
}
