i {
    margin: 0 15px;
}

.header {
    background-color: #ffffff;
    color: darkred;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.sidebar-logo {
    width: 100px;
}

.page-title {
    color: darkred;
}

.announcements-page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    text-align: center;
    justify-content: center;
    margin: 0 !important;
}

.announcements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 40px;
    justify-content: center;
}

.card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 30px;
}