.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/images/iztech_background_image.jpg"); /* Replace with your actual image path */
  background-size: cover;
}

.loginbox {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  padding: 2%;
  border-radius: 8px;
  width: 20%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.image {
  object-fit: contain;
  max-width: 100% ;
}

/*.loginbox h1 {
  color: #333;
}*/

.loginbox label {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.loginbox input[type="text"],
.loginbox input[type="password"] {
  width: 100%;
  margin-top: 3%;
}

.loginbox button {
  width: 50%;
  padding: 10px;
  background-color: #9a0e20;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.loginbox p {
  color: #9a0e20;
  cursor: pointer;
  margin-top: 15px;
  text-decoration: underline;
}

.popupContent{
  display: flex;
  flex-direction: column;
  position: absolute;  /* Absolute positioning relative to the nearest positioned ancestor */
  top: 50%;            /* Center vertically */
  left: 50%;           /* Center horizontally */
  transform: translate(-50%, -50%); /* Ensures exact centering */
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;  /* Ensure it is above other content */
  width: 20vw;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  background: none;
  color: #aaa;
  font-size: 32px;
  cursor: pointer;
}

.closeBtn:hover {
  color: black;
}