.setNewPasswordPage {
  background-image: url("../assets/images/iztech_background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.setNewPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 20px;
  width: 400px;
  border-radius: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.inputField {
  display: block;
  margin: 0;
  width: 100%;
  height: 50%;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #9a0e20;
  color: white;
  border: none;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: darkred;
}

.logoImage {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 300px;
}

.para {
  text-align: center;
  color: #ae5c53;
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}
