.spcApplicationFormRequest {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: stretch;
    width: 100%;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.applicationForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applicationFormsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 25px;
}

.pageTitle {
    text-align: center;
    margin: 20px 0;
    color: #9a0e20;
    margin-bottom: 4%;
}
