i {
    margin: 0 15px;
}

h2 {
    margin: 10px 0 20px;
}

.container {
    justify-content: center;
    text-align: center;
}

.student-homepage {
    display: flex;
    height: 100vh;
}

.student-homepage .header  {
    background-color: #ffffff;
    color: darkred;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.page-title {
    color: darkred;

}

.homepage-container {
    gap: 20px;
    padding: 20px 250px;
    width: 60% !important;
}

.homepage {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px 35px !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 30px;
}

.card-body {
    padding: 20px 40px;
}