
i {
    margin: 0 15px;
}

.student-internshipOpps {
    display: flex ;
    flex-direction: row;
    background-color: #ffffff;  
    height: 100vh;
    width: 100vw;
    
}

.student-homepage .header {
    background-color: #ffffff;
    color: darkred;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.title-container {
    text-align: center;
    margin: 20px 0;
}

.sidebar-logo {
    width: 100px;
}

.internships-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 40px;
    justify-content: center;
    margin: 0 !important    ;
}

.card {
    display: flex;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 30px;
}

.student-internshipOpps .sidebar {
    background-color: #9a0e20; /* Dark Green Shade */
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.student-internshipOpps .card-body button {
    width: 100px;
}
.student-internshipOpps .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

