i {
    margin: 0 15px;
}

h2 {
    margin: 10px 0 20px;
}

.sidebar-logo {
    width: 100px;
}

.admin-homepage {
    display: flex;
    flex-direction: row; /* Ensure it's set to row for horizontal layout */
    height: 100vh; /* Full height of the viewport */
    align-items: stretch; /* Ensures children stretch to fill the container */
    width: 100%; /* Ensure it takes full width */
}


.header {
    background-color: #e8f5e9;
    color: green;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/*.homepage h1 {
    color: darkred;
    padding: 20px 20px 20px 250px;
}*/

.homepage-container {
    gap: 20px;
    padding: 20px 250px;
}

.card {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 30px;
}

.card-body {
    padding: 20px 40px;
}

.admin-sidebar {
    background-color: #9a0e20; /* Dark Green Shade */
    padding: 20px;
    width: 250px; /* Fixed width */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    height: auto; /* Adjust height automatically */
}

.main-content {
    flex-grow: 1; /* Takes the remaining space */
    overflow: auto; /* Adds scroll if content overflows */
}
