.companySidebar {
    background-color: #9a0e20; /* Dark Green Shade */
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.sidebar-logo {
  width: 100px;
}